div.title{
    text-align: center;
}

table.PatientDetails {
    margin: 0 auto;
}

.Corners {
    border-radius: 10px;
}

.Patientlbl {
    margin-right: 5px;
}

div.labelMsg {
    text-align: center;
}
}
